* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
$color: rgb(27, 26, 26);
$color2:rgb(245, 245, 140);
$color3: rgb(15, 15, 15);

html{
    background-color: rgb(27, 26, 26);
}
nav, header, section{
    background-color: rgb(27, 26, 26);
}

a{
    text-decoration: none;
    color: white;
}

ul{
    padding: 0;
}
/*NAVBAR*/
nav{
    background-image: linear-gradient(0deg, black, #303030);
    padding: 0.5rem;
    position: fixed;
    top: 0;
    z-index: +2;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

button.navbar-toggler{
    border-radius: 10px;
    background-color: white;
    visibility: hidden;
    span.navbar-toggler-icon{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: center;
    }
}
nav a img{
    height: 50px;
    width: auto;
}

.nav-link{
    display: inline-block;
    text-decoration: none;
    list-style: none;
    padding-left: 3rem;
    padding-right: 2rem;
    color: white;
    &:hover {
    color: rgb(245, 245, 140);
    }
}

.navbar-nav{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.mensaje{
    background-color: rgb(15, 15, 15);
    color: white;
    padding-top: 3rem;
    padding-bottom: 3rem;
}




/*CAROUSEL*/
.carousel{
    height: 600px;
    width: auto;
    img{
        object-fit: cover;
        height: 200px;
    }
}

.carousel-item .caroBig{
    height: 600px;
    width: auto;
}

#carouselIntro {
    transition: ease 0.5s;
}

.carouselGrid {
    padding-top: 3rem;
    display: grid;
    grid-template-areas:
    'cocina carousel1'
    'placard carousel2'
    'demas carousel3';
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 2fr 2fr;
    a{
        text-decoration: underline solid $color2;
        color: $color2;
    }
    #carousel1{
        grid-area: carousel1;
        width: 300px;
        height: 200px;
        border: solid black;
        div div div img{
            width: auto;
            height: 200px;
            width: 300px;
        }
    }
    #carousel2{
        grid-area: carousel2;
        width: 300px;
        height: 200px;
        border: solid black;
        div div div img{
            width: auto;
            height: 200px;
            width: 300px;
        }
    }
    #carousel3 {
        grid-area: carousel3;
        width: 300px;
        height: 200px;
        border: solid black;
        div div div img{
            width: auto;
            height: 200px;
            width: 300px;
        }
    }
    
    .cocina{
        grid-area: cocina;
    }
    .placard{
        grid-area: placard;
    }
    .demas{
        grid-area: demas;
    }
}



/*FOOTER*/
footer{
    background-color: rgb(27, 26, 26);
    color: white;
}
h4{
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

.somos{
    background-color: rgb(27, 26, 26);
    color: white;
    text-align: center;
    padding-bottom: 2rem;
}
.mensaje2{
    padding: 0% 30% 0% 30%;
    margin: 0;
    text-align: justify;
}

footer .redes{
    text-align: center;
    button{
        background-color: transparent;
        border: none;
        a:hover{
            text-decoration: none;
            color: white;
            opacity: 0.2;
        }
        img{
            height: 40px;
            padding: 10px 10px 10px 10px;
            margin: 10px 20px 20px 20px;
            background-color: rgb(245, 245, 140);
            border-radius: 50px;
        }
    }
}

.footerContacto, .divContacto{
    background-color: rgb(27, 26, 26);
}

.sumuebles{
    display: flex;
    justify-content: center;
    img{
        height: 5rem;
        width: auto;
    }
}

.divContacto ul{
    li{
        list-style: none;
        text-align: center;
        h6{
            display: inline-block;
            padding: 10px 20px 0px 20px;
            list-style: none;
        }
    }
} 


.copyright{
    text-align: center;
    font-size: small;
}

/*SECCIONES*/
section{
    padding-top: 5rem;
    background-color: $color3;
    .seccion{
        text-align: center;
        color: $color2;
        margin-bottom: 0;
    }
}

.seccionGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    background-color: $color3;
    padding-top: 4rem;
    a{
        margin: 0;
        padding: 0;
    }
    img{
        height: 200px;
        width: 300px;
        object-fit: cover;
        border-radius: 20px;
        margin: 0px 10px 30px 10px;
    }
}
.seccionGrid img:hover{
    transform: scale(1.2);
    transition-property: all;
    transition-duration: 2s;
    transition-delay: 0.2s;
}
.btn-primary{
    background-color: transparent!important;
    border-color: transparent!important;
    box-shadow: none!important;
}
.btn-primary:hover{
    background-color: transparent!important;
    border-color: transparent!important;
    box-shadow: none!important;
}

#offcanvasExample{
    background-color: $color2;
}

.offcanvas{
    width: 80%;
    .offcanvas-body{
        align-self: center;
        overflow: hidden;
        img{
            width: auto;
            height: 400px;
            margin: 3rem;
        }
    }
}

.fondoNegroContacto{
    padding: 2% 0% 5% 0%;
}

.fondoContacto{
    background-image: url("../img/cocina5.jpeg");
    margin: 0% 13% 0% 13%;
}

.formGrid{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr;
    grid-template-areas: 'mensaje formulario';
    padding-top: 3rem;
    padding-bottom: 3rem;
    .formMensaje {
        color: $color2;
        margin-bottom: 0;
        background-color: $color;
        font-size: larger;
        margin: 0% 0% 0% 40%;
        grid-area: mensaje;
        opacity: .8;
        p{
            font-family: Arial, Helvetica, sans-serif;
        }
    }
    .formContacto{
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: space-between;
        button{
            border-radius: 30px;
            background-color: $color2;
            img{
                width: 50px;
                height: 40px;
                background-color: $color2;
                border-radius: 30px;
            }
            &:hover{
                opacity:0.2
            }
        }
    }
}

.formularioContacto{
    display: grid;
    margin: 0% 40% 0% 0%;
    grid-area: formulario;
}

.formType{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    background-color: $color2;
    border: 1px solid black;
    color: black;
    opacity: .7;
}
.formEnviar{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: bold;
    background: linear-gradient(0deg, black, #303030) ;
    color: #c5a045;
}
.nav-item{
    padding-left: 3rem;
}

/*RESPONSIVE*/
@media (max-width:350px){
    /*Secciones*/
    .seccionGrid{
        display: grid;
        grid-template-columns: 1fr;
        img{
            width: 270px;
        }
    }
    .offcanvas-body img{
        height: 300px!important;
        width: 200px!important;
    }
    .formMensaje{
        padding: 0!important;
        margin: 0!important;
        p{
            display: none;
        }
    }
    .formContacto{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-top: 6rem!important;
    }
    .formType{
        height: 30px;
        width: 150px;
    }
    #mensaje{
        height: 150px;
    }    
}
@media(max-width:450px){
    .carouselGrid {
        padding-top: 3rem;
        display: grid;
        grid-template-areas:
        "cocina" 
        "carousel1"
        "placard" 
        "carousel2"
        "demas" 
        "carousel3"!important;
        grid-template-columns:1fr!important;
        grid-template-rows: 1fr!important;
        a{
            text-align: center;
        }
    }
    #carousel1,#carousel2,#carousel3{
        justify-self: center;
    }
    .carousel{
        height: 400px;
        width: auto;
        img{
            object-fit: cover;
            height: 200px;
        }
    }
    .carousel-item .caroBig{
        height: 400px!important;
        width: auto;
    }
    #carouselExampleControls{
        height: 400px;
    }
    .formMensaje p{
        display: none;
}
.formContacto{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 6rem!important;
    width: auto!important;
}
.formType{
    height: 30px;
    width: 150px;
}
#mensaje{
    height: 150px;
} 
.formularioContacto{
    margin: 0% 20% 0% 0%;
}
input.formEnviar{
    width: 150px;
}
.fondoContacto{
    background-image: url("../img/cocina5 - copia (2).jpeg");
}
}

@media(min-width:451px)and(max-width:650px){
    
    .seccionGrid{
        display: grid;
        grid-template-columns: 1fr!important;
    }
    .offcanvas-body img{
        height: 350px!important;
        width: 250px!important;
    }
    .formMensaje p{
            display: none;
    }
    .formContacto{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-top: 6rem!important;
        width: auto!important;
    }
    .formType{
        height: 30px;
        width: 150px;
    }
    #mensaje{
        height: 150px;
    } 
    .formularioContacto{
        margin: 0% 20% 0% 0%;
    }
    input.formEnviar{
        width: 150px;
    }
}

@media(min-width:651px)and(max-width:970px){
    .seccionGrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .seccionGrid img:hover{
        transform: none;
        transition-property: all;
    }
    .offcanvas-body img{
        height: 400px!important;
        width: 500px!important;
    }
    .nav-item{
        padding-left: 0rem;
    }    
    .formMensaje{
        margin: 0% 0% 0% 20%!important;
    }
    .formContacto{
        margin-top: 0!important;
        flex-direction: row!important;
        margin-left: 20%;
    }
}

@media (max-width:970px){
    nav{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "logo toggler"
        "ul ul";
    }
    button.navbar-toggler{
        visibility: visible;
        width: 60px;
        height: 40px;
    }
    .navbar-nav{
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        grid-area: ul;
        padding-right: 0rem;
    }
    .logo{
        grid-area: logo;
    }
    .navbar-toggler{
        grid-area: toggler;
    }
}