* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html{
    background-color: rgb(27, 26, 26);
}
nav, header, section{
    background-color: rgb(27, 26, 26);
}

a{
    text-decoration: none;
    color: #e7551b;
}
/*NAVBAR*/
nav{
    background-color: rgb(27, 26, 26);
    padding: 0.5rem;
    position: fixed;
    top: 0;
    z-index: +2;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav a img{
    height: 50px;
    width: auto;
}

nav ul {
    align-self: flex-end;
}

nav ul li {
    display: block;
    text-align: right;
}

nav ul li a{
    display: inline-block;
    text-decoration: none;
    list-style: none;
    padding-left: 3rem;
    padding-right: 2rem;
    color: #e7551b;
}
a:hover {
    color: rgb(245, 245, 140);
    text-decoration: underline solid rgb(245, 245, 140);
}

.mensaje{
    background-color: rgb(15, 15, 15);
    color: white;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/*CAROUSEL*/
.carousel{
    height: 600px;
    width: auto;
}

#carouselIntro {
    transition: ease 0.5s;
}

.carousel img{
    object-fit: cover;
    height: 600px;
}

/* .carouselGrid {
    display: grid;
    grid-template-areas:
    'decription carouselContainer'
    'decription carouselContainer'
    'decription carouselContainer';
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr 2fr;
}

.carouselContainer{
    grid-area: carouselContainer;
}
#carousel1 {
    grid-area: carousel1;
    width: 30%;
    height: 30%;
}
#carousel2{
    grid-area: carousel2;
    width: 30%;
    height: 30%;
}
#carousel3 {
    grid-area: carousel3;
    width: 30%;
    height: 30%;
}
.carousel img {
    height: 30%;
    width: auto;
    object-fit: cover;
}
.description{
    grid-area: description;
} */


/*FOOTER*/
footer{
    background-color: rgb(27, 26, 26);
    color: white;
}
h4{
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

.somos{
    background-color: rgb(27, 26, 26);
    color: #e7551b;
    text-align: center;
    padding-bottom: 2rem;
}
.mensaje2{
    padding: 0% 30% 0% 30%;
    margin: 0;
    text-align: justify;
}

footer .redes{
    text-align: center;
}
footer .redes button{
    background-color: transparent;
    border: none;
}
footer .redes button img{
    height: 40px;
    padding: 10px 10px 10px 10px;
    margin: 10px 20px 20px 20px;
    background-color: rgb(245, 245, 140);
    border-radius: 50px;
}
.redes button a:hover{
    text-decoration: none;
    color: white;
    opacity: 0.2;
}

.footerContacto, .divContacto{
    background-color: rgb(27, 26, 26);
}

.sumuebles img{
    height: 5rem;
    width: auto;
}

.sumuebles{
    display: flex;
    justify-content: center;
}

.divContacto ul li h6{
    display: inline-block;
    padding: 10px 20px 0px 20px;
    list-style: none;
}
li{
    list-style: none;
    text-align: center;
}

.copyright{
    text-align: center;
    font-size: small;
}

