* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

html {
  background-color: rgb(27, 26, 26);
}

nav, header, section {
  background-color: rgb(27, 26, 26);
}

a {
  text-decoration: none;
  color: #e7551b;
}

ul {
  padding: 0;
}

body{
  overflow-x: hidden;
}

/*NAVBAR*/
nav {
  background-image: linear-gradient(0deg, black, #303030);
  padding: 0.5rem;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

button.navbar-toggler {
  border-radius: 10px;
 
  visibility: hidden;
}
button.navbar-toggler span.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
}

nav a img {
  height: 50px;
  width: auto;
}

.nav-link {
  display: inline-block;
  text-decoration: none;
  list-style: none;
  padding-left: 3rem;
  padding-right: 2rem;
  color: #e7551b;
  font-family: serif
}
.nav-link:hover {
  color: white;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.mensaje {
  background-color: rgb(15, 15, 15);
  color: #e7551b;
  padding-top: 6rem;
  padding-bottom: 3rem;
  font-family: serif;
  display: flex;
  align-items: center;
}
/* BANNER */
.banner {
  display: flex;
  flex-wrap: wrap;
}

img.bannerCocinasImg {
  width: 100%;
  position: relative;
}
img.bannerPlacaresImg {
  width: 100%;
  position: relative;
}
img.bannerEspecialesImg {
  width: 100%;
  position: relative;
}

.bannerLinks{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.textOverImageCocinas {
  position: absolute;
  z-index: 1;
  font-size: xx-large;
  font-family: serif;
  color: white;
  padding-left: 15%;
  padding-top: 15%;
}
.textOverImagePlacares {
  position: absolute;
  z-index: 1;
  font-size: xx-large;
  font-family: serif;
  color: white;
  padding-left: 15%;
  padding-top: 25%;
}
.textOverImageEspeciales {
  position: absolute;
  z-index: 1;
  font-size: xx-large;
  font-family: serif;
  color: white;
  padding-left: 15%;
  padding-top: 15%;
}
.textOverImageCocinas:hover{
  transform: scale3d(1.2, 1.2, 1.2);
  transition: ease;
  transition-duration: 1.5s;
}
.textOverImagePlacares:hover{
  transform: scale3d(1.2, 1.2, 1.2);
  transition: ease;
  transition-duration: 1.5s;
}
.textOverImageEspeciales:hover{
  transform: scale3d(1.2, 1.2, 1.2);
  transition: ease;
  transition-duration: 1.5s;
}

/*CAROUSEL*/
.carousel {
  height: 600px;
  width: auto;
}
.carousel img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
}

.carousel-item{
  transition: transform .6s ease-in-out !important;
}
.carousel-item .caroBig {
  height: 600px;
  width: auto;
}

#carouselIntro {
  transition: ease 0.5s;
}

.carouselGrid {
  padding-top: 3rem;
  display: grid;
  grid-template-areas: "cocina carousel1" "placard carousel2" "demas carousel3";
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2.5fr 2.5fr 2fr;
}
.carouselGrid a {
  color: #e7551b;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: serif
}

.carouselGrid a:hover {
  color: white;
  opacity: 0.5;
  transition-duration: 1s;
}

.carouselGrid #carousel1 {
  grid-area: carousel1;
  width: 300px;
  height: 200px;
}
.carouselGrid #carousel1 div div div img {
  width: auto;
  height: 200px;
  width: 300px;
}
.carouselGrid #carousel2 {
  grid-area: carousel2;
  width: 300px;
  height: 200px;
}
.carouselGrid #carousel2 div div div img {
  width: auto;
  height: 200px;
  width: 300px;
}
.carouselGrid #carousel3 {
  grid-area: carousel3;
  width: 300px;
  height: 200px;
}
.carouselGrid #carousel3 div div div img {
  width: auto;
  height: 200px;
  width: 300px;
}
.carouselGrid .cocina {
  grid-area: cocina;
}
.carouselGrid .placard {
  grid-area: placard;
}
.carouselGrid .demas {
  grid-area: demas;
}

/*FOOTER*/
footer {
  background-color: rgb(27, 26, 26);
  color: #e7551b;
  padding-top: 3%;
}

h4 {
  font-size: larger;
  font-weight: bold;
  text-align: center;
}

.somos {
  background-color: rgb(27, 26, 26);
  color: #e7551b;
  text-align: center;
  padding-bottom: 2rem;
}

.mensaje2 {
  padding: 0% 30% 0% 30%;
  margin: 0;
  text-align: justify;
  font-family: serif
}

footer .redes {
  text-align: center;
}
footer .redes button {
  background-color: transparent;
  border: none;
}
footer .redes button a:hover {
  text-decoration: none;
  color: white;
  opacity: 0.5;
  transition-duration: 0.5s;
}
footer .redes button img {
  height: 45px;
  padding: 10px 10px 10px 10px;
  margin: 0px 20px 20px 20px;
  background-color: #e7551b;
  border-radius: 50px;
  width: 55%;
}

.footerContacto, .divContacto {
  background-color: rgb(27, 26, 26);
}

.sumuebles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sumuebles img:hover{
  opacity: 0.5;
  transition-duration: 0.5s;
}

.textoShop a:hover{
  color: white;
}
.sumuebles img {
  height: 5rem;
  width: auto;
  margin-top: 5%;
}

.divContacto ul li {
  list-style: none;
  text-align: center;
}
.divContacto ul li h6 {
  display: inline-block;
  padding: 10px 20px 0px 20px;
  list-style: none;
}

.copyright {
  text-align: center;
  font-size: small;
}

.mailIndex:hover{
  color:white;
  transition-duration: 1s;
}

/*SECCIONES*/
section {
  padding-top: 5rem;
  background-color: rgb(15, 15, 15);
  font-family: serif;
  text-align: -webkit-center;
}
section .seccion {
  text-align: center;
  color: #e7551b;
  margin-bottom: 0;    
  font-family: serif
}

h1{
  font-family: serif
}

h2{
  font-family: serif
}

h5{
  font-family: serif
}

h6{
  font-family: serif
}


.seccionGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  background-color: rgb(15, 15, 15);
  padding-top: 4rem;
}
.seccionGrid a {
  margin: 0;
  padding: 0;
}
.seccionGrid img {
  height: 200px;
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  margin: 0px 10px 30px 10px;
}

.seccionGrid img:hover {
  transform: scale(1.2);
  transition-property: all;
  transition-duration: 2s;
  transition-delay: 0.2s;
}

.btn-primary {
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}

.btn-primary:hover {
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}

#offcanvasExample {
  background-color: rgb(245, 245, 140);
}

.offcanvas {
  width: 80%;
}
.offcanvas .offcanvas-body {
  align-self: center;
  overflow: hidden;
}
.offcanvas .offcanvas-body img {
  width: auto;
  height: 400px;
  margin: 3rem;
}

.fondoNegroContacto {
  background-image: url(../img/cocina25.jpeg);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  background-repeat: round;
}

.formGrid {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 2fr;
  grid-template-areas: "mensaje formulario";
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.formContacto {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 2% 0% 2% 0%;
}
.formContacto button {
  border-radius: 100px;
  background-color: orangered;
}
.formContacto button img {
  width: 55px;
  height: 40px;
  background-color: orangered;
  border-radius: 100px;
}
.formContacto button:hover {
  opacity: 0.5;
  transition-duration: 0.5s;
}

.formularioContacto {
  display: flex;
  grid-area: formulario;
  flex-direction: column;
  align-items: stretch;
  padding-top: 5%;
  width: 60%;
}

.formType {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  background-color: white;
  border: 1px solid black;
  color: black;
  opacity: 0.7;
}

.formEnviar {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  font-weight: bold;
  background: linear-gradient(0deg, black, orangered);
  color: white;
}
.formEnviar:hover{
  opacity: 0.7;
}

.nav-item {
  padding-left: 3rem;
}

/*RESPONSIVE*/
@media (max-width: 350px) {
  /*Secciones*/
  .seccionGrid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .seccionGrid img {
    width: 270px;
  }
  .offcanvas-body img {
    height: 300px !important;
    width: 200px !important;
  }
  .formMensaje {
    padding: 0 !important;
    margin: 0 !important;
  }
  .formMensaje p {
    display: none;
  }
  .formContacto {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 6rem !important;
  }
  .formularioContacto {
    width: 100%;
  }
  #mensaje {
    height: 150px;
  }
  .mensaje{
    flex-wrap: wrap !important;
    padding-top: 30% !important;
  }
  
}
@media (max-width: 450px) {
  .seccionGrid {
    display: grid;
    grid-template-columns: 1fr !important;
  }
  .carouselGrid {
    padding-top: 3rem;
    display: grid;
    grid-template-areas: "cocina" "carousel1" "placard" "carousel2" "demas" "carousel3" !important;
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr !important;
  }
  .carouselGrid a {
    text-align: center;
    padding-top: 10%;
  }
  #carousel1, #carousel2, #carousel3 {
    justify-self: center;
  }
  .carousel {
    height: 400px;
    width: auto;
  }
  .carousel img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 200px;
  }
  .carousel-item .caroBig {
    height: 400px !important;
    width: auto;
  }
  #carouselExampleControls {
    height: 400px;
  }
  .formMensaje p {
    display: none;
  }
  .formContacto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5% 0% 5% 0%;
  }
  .formularioContacto{
    width: 100%;
  }
  #mensaje {
    height: 150px;
  }
  .mensaje{
    flex-wrap: wrap !important;
    padding-top: 30% !important;
  }
  .fondoContacto {
    background-image: url("../img/cocina5 - copia (2).jpeg");
  }
}
@media (min-width: 451px) and (max-width: 650px) {
  .seccionGrid {
    display: grid;
    grid-template-columns: 1fr !important;
  }
  .offcanvas-body img {
    height: 350px !important;
    width: 250px !important;
  }
  .formMensaje p {
    display: none;
  }
  .formType {
    height: auto;
    width: 100%;
  }
  #mensaje {
    height: 150px;
  }
  .mensaje{
    flex-wrap: wrap !important;
    padding-top: 30% !important;
  }
}
@media (min-width: 651px) and (max-width: 970px) {
  .seccionGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .seccionGrid img:hover {
    transform: none;
    transition-property: all;
  }
  .offcanvas-body img {
    height: 400px !important;
    width: 500px !important;
  }
  .nav-item {
    padding-left: 0rem;
  }
  .formMensaje {
    margin: 0% 0% 0% 20% !important;
  }
  .formContacto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5% 0% 5% 0%;
  }
}
@media (max-width: 970px) {
  nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "logo toggler" "ul ul";
  }
  button.navbar-toggler {
    visibility: visible;
    width: 60px;
    height: 40px;
  }
  .navbar-nav {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    grid-area: ul;
    padding-right: 0rem;
  }
  .logo {
    grid-area: logo;
  }
  .navbar-toggler {
    grid-area: toggler;
  }
  .carouselGrid{
    font-size: xxx-large;
  }
}
@media (min-width: 971px) {
.mensaje{
  padding: 10% 25%;
  flex-wrap: nowrap;
}
.carouselGrid{
  font-size: xxx-large;
}

.banner {
  display: flex;
  justify-content: center;
}

.bannerCocinas{
  width: 70%;
}
.bannerGrupo{
  width: 30%;
}
.bannerCocinasImg{
  height: 400px;
  object-fit: cover;
}

.bannerPlacaresImg{
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.bannerEspecialesImg{
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.textOverImageCocinas{
  position: absolute;
  z-index: 1;
  font-size: xx-large;
  font-family: serif;
  color: white;
  padding-left: 15%;
  padding-top: 15%;
}

.textOverImagePlacares {
  position: absolute;
  z-index: 1;
  font-size: xx-large;
  font-family: serif;
  color: white;
  padding-left: 5%;
  padding-top: 0;
}

.textOverImageEspeciales {
  position: absolute;
  z-index: 1;
  font-size: xx-large;
  font-family: serif;
  color: white;
  padding-left: 5%;
  padding-top: 3%;
}
}
/*# sourceMappingURL=styles.css.map */